[MAIN]
ignore-paths=

[MESSAGES CONTROL]
disable=import-error, line-too-long, trailing-whitespace, missing-module-docstring, missing-function-docstring, missing-class-docstring, raise-missing-from, too-few-public-methods, no-name-in-module